  /* Google Map */
  .map-container {

    margin: 100px auto;
    max-width: 100%;
    width: calc(100% - 15%);
  }
  
  .map {
    width: 100%;
    height: 60vh;
    margin: 20px auto;
  }

  /* Google Map */